.App {
  background: #e0e0e0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big_box {
  background: #e0e0e0;
  width: 800px;
  height: 450px;
  border-radius: 30px;
  box-shadow:  20px 20px 60px #bebebe,
              -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.smaller_box {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.square{
  background: #e0e0e0;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  box-shadow:  20px 20px 80px #bebebe,
              -20px -20px 80px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}